.button-else__button {
  background-color: #202020;
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s linear;
}

.button-else__button:hover {
  opacity: 0.5;
}

.button-else__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.button-else {
  background-color: #202020;
  width: 100%;
  min-height: 166px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}
