.footer {
  background-color: #202020;
  padding: 79px 70px 20px;
}

.footer__descriptopn {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
  text-align: center;
  margin: 0 0 20px 0;
}

.footer__line {
}

.footer__social-year-wrap {
  display: flex;
  justify-content: space-between;
}

.footer__social-year-text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px 0 0;
  transition: 0.2s linear;
}

.footer__social-year-text:hover {
  opacity: 0.5;
}

@media all and (max-width: 767px) {
  .footer {
    padding: 79px 10px 10px 10px;
  }
  .footer__social-year-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__social-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer__social-year-text {
    margin: 0 0 12px 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1267px) {
  .footer {
    padding: 79px 30px 20px;
  }
}
