.promo {
  background-color: #073042;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  color: #ffff;
  letter-spacing: -0.04em;
  margin: 0;
  max-width: 730px;
  position: absolute;
  word-wrap: break-word;
}

.promo__logo {
  position: relative;
}

@media all and (max-width: 767px) {
  .promo {
    min-height: 570px;
  }
  .promo__text {
    font-size: 31px;
    line-height: 39px;
  }
  .promo__logo {
    width: 248px;
    height: 248px;
  }
}

@media all and (min-width: 768px) and (max-width: 1267px) {
  .promo {
    min-height: 764px;
  }
}
